.carousel {
  position: relative;
  width: 90%; /* Aumenta el ancho para dar espacio a los botones */
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white; 
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
